<header>
    <ul>
        <li><a href="http://localhost:8080/pc/">PC</a></li>
        <li><a href="http://localhost:8080/pc/hdd">HDD</a></li>
        <li><a href="http://localhost:8080/pc/cpu">CPU</a></li>
        <li><a href="http://localhost:8080/pc/ram">RAM</a></li>
        <li><a href="http://localhost:8080/pc/keyboard">Keyboard</a></li>
        <li><a href="http://localhost:8080/pc/mouse">Mouse</a></li>
    </ul>
</header>