<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>styles}}
    <div class="cards">
        {{#each CPUarray}}
            <div class="card">
                <p>CPU name: {{this.CPU_name}}</p> 
                <p>{{this.description}}</p>   
                <p>price: {{this.CPU_price}}</p>    
                <button onclick="cpu({{this.CPU_price}})">add</button>
            </div>    
        {{/each}}
    </div>
    
    
    <script>
        function cpu(cpu_price) {
            let cpuPrice = Number(cpu_price)
            localStorage.setItem("cpuPrice", cpuPrice)
        }
    </script>
</body>
</html>