<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>styles}}
    <div class="card">
        <form action="/pc/db" method="post">
            <input type="text" name="username" id="username"><br>
            <input type="number" name="price" id="price"><br>
            <button type="submit" id="special">ПОДТВЕРДИТЬ</button>
        </form>
    </div>
    
    <script>
        let username = localStorage.getItem("username")
        let price = localStorage.getItem("price")
        document.getElementById("username").value = username;
        document.getElementById("price").value = price;
    </script>
</body>
</html>