<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>styles}}
    <div class="cards">
        {{#each HDDarray}}
            <div class="card">
                <input type="number" value="{{this.hdd_id}}" name="hdd_id" hidden>
                <p>HDD size: {{this.HDD_size}}</p>    
                <p>Price: {{this.HDD_price}}</p>    
                <button type="submit" onclick="addHDD({{this.hdd_id}})">add</button>
            </div>    
        {{/each}}
    </div>
    
    <script src="../index.js"></script>
</body>
</html>