<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>styles}}
    <div class="cards">
        {{#each kbrdArray}}
            <div class="card">
                <p>{{this.kbrd_name}}</p>    
                <p>Price: {{this.kbrd_price}}</p>    
                <button type="submit" onclick="kbrd({{this.kbrd_price}})">add</button>
            </div>    
        {{/each}}
    </div>
    
    <script>
        function kbrd(kbrd_price) {
            let kbrdPrice = Number(kbrd_price)
            localStorage.setItem("kbrdPrice", kbrdPrice)
        }
    </script>
</body>
</html>