<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>styles}}
    {{>header}}
    <div class="cards">
        {{#each mouseArray}}
            <div class="card">
                <p>{{this.mouse_name}}</p>    
                <p>Price: {{this.mouse_price}}</p>    
                <button type="submit" onclick="mouse({{this.mouse_price}})">add</button>
            </div>    
        {{/each}}
    </div>
    
    <script>
        function mouse(mouse_price) {
            let mousePrice = Number(mouse_price)
            localStorage.setItem("mousePrice", mousePrice)
        }
    </script>
</body>
</html>