<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    {{>styles}}
    {{>header}}
    
    <div class="card">
        <input type="text" placeholder="name" id="user" name="username">
        <p id="price"></p>
        <button onclick="buy()">BUY</button>
        <span><p>@pcAssmbly_bot</p></span>
    </div>
    <div id="cart">

    </div>
    <script>
        let hddPrice = Number(localStorage.getItem("hddPrice"))
        let cpuPrice = Number(localStorage.getItem("cpuPrice"))
        let ramPrice = Number(localStorage.getItem("ramPrice"))
        let kbrdPrice = Number(localStorage.getItem("kbrdPrice"))
        let mousePrice = Number(localStorage.getItem("mousePrice"))
        let price = hddPrice + cpuPrice + ramPrice + kbrdPrice + mousePrice
        let pricePar = document.getElementById("price")
        pricePar.innerText = price;
        function buy(pricePar){
            let nameInput = document.getElementById("user").value
            let cart = document.getElementById("cart");
            if(hddPrice === 0 || cpuPrice === 0 || ramPrice === 0 || mousePrice === 0 || kbrdPrice === 0){
                alert("Вы должны выбрать все компоненты(hdd, ram, cpu, mouse, keyboard)")
            }else{
                    localStorage.removeItem("hddPrice")
                    localStorage.removeItem("cpuPrice")
                    localStorage.removeItem("ramPrice")
                    localStorage.removeItem("kbrdPrice")
                    localStorage.removeItem("mousePrice")
                    localStorage.setItem("price", price)
                    localStorage.setItem("username", nameInput)
                    location.replace("http://localhost:8080/pc/db")
            }
            
        }
    </script>
</body>
</html>